// Some variable overrides
$primary-color: #3A4A6A;  
$secondary-color: #46687F;
$info-color: #004991;
$error-color: #91000c;
$success-color: #448110;
$warn-color: #915200;
$alert-color: $error-color;
$notice-color: $success-color;

// Import vendor frameworks & vendor files
@import 'normalize';
@import 'foundation_and_overrides';  // includes foundation
@import 'compass';
@import "jquery.ui.all";
@import "datetime";
@import "font-awesome";

// App-specific
@import 'messages';

html, body {
  height: 100%;
}

.container {
  min-height: 100%;
  padding-top: 20px;
  //margin: 0 auto -30px;
}

  

.brand {
  float: left;
  padding-right: 8px;
}

.top-bar-section li {
  a:active, a:hover {
    background-color: $topbar-link-bg-active;
  }
}

.form-actions .row {
  margin-top: 15px;
}

/*
  Calendar expand buttons
*/
.button.calendarIcon {
  background-color: #e9e9e9;
  color: #4d4d4d;
  border: 1px solid #c3c3c3;
}

.button.calendarIcon:hover, .button.calendarIcon:focus {
  background-color: #B2B2B2;
}

/*
  Always keep the datepicker calendar above everything.  The
  postfix buttons will float above the calendar if we don't do this.
*/
.ui-datepicker {
  z-index: 3 !important;
}

dl {
  .ui* {
    line-height: 1.0;
  }
}

select {
  @include form-element;
  padding: 0;
}

.ui-datepicker .ui-datepicker-title select {
  font-size: 0.8em;
  display: inline-block;
}

.panel table {
	width: 100%;

	.datetime {
		width: 9em;
	}

	.datatype {
		width: 11em;
		text-align: left;
	}

	.value {
		width: 5em;
		text-align: right;
	}

	.comment {
		width: auto;
	}

	.actions {
		width: 9em;
		text-align: center;
		.alert {
			margin: 0 0.75em;
		}
	}

	td {
		vertical-align: top;
	}
}

